In [1]:
import pandas as pd 
import numpy as np

In [2]:
sp = pd.read_csv('Data_SP500.csv')

In [4]:
sp

            Date        SP500
0     22/01/2013  1492.560059
1     23/01/2013  1494.810059
2     24/01/2013  1494.819946
3     25/01/2013  1502.959961
4     28/01/2013  1500.180054
...          ...          ...
1245  29/12/2017  2673.610107
1246  02/01/2018  2695.810059
1247  03/01/2018  2713.060059
1248  04/01/2018  2723.989990
1249  05/01/2018  2743.149902

[1250 rows x 2 columns]